{% extends 'base.html' %} 

{% block title %} New Tag Form {% endblock %}

{% block content %} 
<h1 class="app-heading">Add New Tag</h1>

<form action="/tags/new" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
    </div>

    <div id="post_section_add_new_tag">
        <h3> All Posts </h3>
        <div class="form-check form-group row">
            {% for post in posts %}
            <div>
                <input class="form-input"
                name="posts"
                value="{{ post.id }}"
                type="checkbox"
                id="post_{{ post.id }}"
                >
                <label class="form-check-label" for="post_{{ post.id }}">
                    {{ post.title }}
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
    <button id="save_user_btn" type="submit" class="btn btn-success">Add Tag</button> 
</form>

<button type="button" class="btn btn-primary"><a href="/tags">Back to Tags </a></button>   
<button type="button" class="btn btn-primary"><a href="/users"> Back to Home </a></button>   


{% endblock %}