{% extends 'base.html' %} 

{% block title %} Edit User Form {% endblock %}

{% block content %} 
<h1 class="app-heading">Edit User Form</h1>


<form class="" action="/users/{{user.id}}/edit" method="POST">
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" value="{{user.first_name}}" class="form-control">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" value="{{user.last_name}}" class="form-control">
    </div>
    <div class="form-group">
        <label for="image_url">Image Url</label>
        <input type="text" name="image_url" value="{{user.image_url}}" class="form-control">
    </div>
    <button id="save_user_btn" type="submit" class="btn btn-success">Save User</button>   
</form>

<div id="user-edit-form-btns">
    <button type="button" class="btn btn-primary"><a href="/users/{{user.id}}"> Back to User </a></button>   
    <form action="/users/{{user.id}}/delete" method="POST">
        <button type="submit" class="btn btn-danger">Delete User</button>  
    </form> 
</div>


{% endblock %}

